{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "containerJumbotron" . }}

    {{ $title := partial "fn/i18n_title" . }}

    <div class="content-width">
      {{ with .Content }}
        {{ . }}
      {{ end }}
    </div>

    <div class="container">
      {{ if not .Params.nosubpage }}
        <div class="row">
          {{ if ne (len $.Site.Taxonomies.categories) 0 }}
          <div class="col-md-3 pb-4">
            <h2 class="mt-0">{{ i18n "blog.categories"}}</h2>
            <div class="tags">
              {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
                <a href="{{ $name | add (relLangURL "/categories/") | urlize }}" class="me-2"
                  {{if eq $title (partial "fn/i18n_title" .Page) }}style="background: #abf9c7;" {{end}}>
                  {{ partial "fn/i18n_title" .Page }}
                </a>
                {{ end }}
            </div>
          </div>
          {{ end }}

          <div class="col-md-9">
          {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
            <div class="col-12 mb-5">
              <div class="text-muted">{{ partial "i18n_date.html" . }}</div>
              <h3 class="mt-1"><a href="{{ .RelPermalink }}">{{ partial "fn/i18n_title" . | safeHTML }}{{ with .Params.subtitle }}: {{ . }}{{ end }}</a></h3>
              <div class="text-muted">
                {{- partial "fn/authors.html" . }}
                {{ if or .Params.author .Params.authors }}&nbsp;|&nbsp;{{ end }}
                {{- if .Params.tags -}}
                  Tags:
                  {{- range .Params.tags }}
                  &nbsp;<a class="tags" href="/tag/{{ . | urlize }}/">{{ . }}</a>
                  {{- end -}}
                  {{- if .Params.categories -}}
                    <br>
                  {{ end }}
                {{ end }}

                {{- if .Params.categories -}}
                {{ i18n "blog.categories"}}
                {{ range $index, $category := .Params.categories -}}
                {{- if $index -}}, {{ end -}}
                <a class="category" href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'>{{ $category }}</a>
                {{- end -}}
                {{ end }}
              </div>
              <div class="post-entry mt-2">
                {{ if .Description }}
                  {{ .Description }}
                {{ else }}
                  {{ .Summary | plainify }}
                {{ end }}
                {{ if .Truncated }}
                  <a href="{{ .RelPermalink }}" class="d-block mt-2 learn-more">{{ i18n "read-more" }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
      </div>

      {{ template "_internal/pagination.html" . }}
      {{ end }}
    </div>
  </article>
</main>
{{ end }}
