{{/*
SPDX-FileCopyrightText: 2021 Pablo Marcos <kde@pablomarcos.me>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "main" }}
<main class="container" role="main">
  <div id="search-results">
  {{/* planet-k-o sometimes renders this title in another language for the English page */}}
    <h2>{{ with .Site.GetPage "/search" }}{{ partial "fn/i18n_title" . }}{{ end }}</h2>
    {{- $defaultLangInSubdir := .Site.Params.defaultLangInSubdir | default false }}
    <p id="status" data-langprefix="{{ cond $defaultLangInSubdir "/en" "" }}" data-invalid="{{ i18n "search.invalid" }}" data-searching="{{ i18n "search.searching" }}" data-noresult="{{ i18n "search.noresult" }}" data-error="{{ i18n "search.error" }}" data-networkerror="{{ i18n "search.networkerror" }}"></p>
  </div>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
  <script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      ${ isset date }<small>${date}</small>${ end }
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
  </script>
</main>
{{ end }}
