{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    <div class="jumbotron">
      <div class="content-width">
        <img src="/reusable-assets/konqi-docbook.png" alt="" class="konqi">

        <h1 class="page-header">
          {{ with .Title }}{{ . }}{{ else }}{{ i18n "users.title" }}{{ end }}
        </h1>

        {{ with .Params.subtitle }}
          <h4>{{ . | markdownify }}</h4>
        {{ end }}

        {{ if not .Params.hideMeta }}
          <p class="meta">
            {{ partial "i18n_date.html" . }}
            {{ partial "fn/authors.html" . }}
          </p>
        {{ end }}
      </div>
    </div>

    <div class="content-width">
      {{ if .Params.handbook }}
        <h2>{{ i18n "users.handbook.title" }}</h2>
        <p>{{ partial "fn/i18n_args" (slice "users.handbook.description" .Params.name .Params.handbook) | markdownify }}</p>
      {{ end }}

      <h2>{{ i18n "users.help.title" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "users.help.description" .Params.name .Params.forum) | markdownify }}</p>

      <h2>{{ i18n "users.bug.title" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "users.bug.description" .Params.name) | markdownify }}</p>

      <h2>{{ i18n "users.feature.title" }}</h2>
      <p>{{ partial "fn/i18n_args" (slice "users.feature.description" .Params.name) | markdownify }}</p>

      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
