/**
 * img-comparison-slider 8.0.6
 * Slider Component for Comparing Images
 * https://img-comparison-slider.sneas.io/
 *
 * Copyright 2019 Dmytro Snisarenko
 *
 * Released under the MIT License
 *
 * Released on: September 12, 2023
 */

img-comparison-slider {
  visibility: hidden;
}

img-comparison-slider [slot='second'] {
  display: none;
}

img-comparison-slider.rendered {
  visibility: inherit;
}

img-comparison-slider.rendered [slot='second'] {
  display: unset;
}
