/*
 * SPDX-FileCopyrightText: 2024 (c) Oliver Beard <olib141@outlook.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

img-comparison-slider {
  --divider-width: 2px;
  --divider-color: var(--bs-body-bg);
  --handle-color: var(--bs-body-bg);
  cursor: col-resize
}

.img-comparison-figure-handle {
  color: var(--bs-body-bg);
}

.img-comparison-figure-before img,
.img-comparison-figure-after img {
  display: block;

  /* Fix transparency stacking, e.g. window shadows overlapping */
  background-color: var(--bs-body-bg);
}

.img-comparison-figure-before,
.img-comparison-figure-after {
  display: flex;
  flex-direction: column;
}

.img-comparison-figure-before figcaption,
.img-comparison-figure-after figcaption {
  display: block;

  line-height: var(--bs-body-line-height);
  color: rgba(var(--bs-body-color), 0.6);

  /* Fix transparency stacking, e.g. clip this text when slider is over */
  background-color: var(--bs-body-bg);
}

.img-comparison-figure-before figcaption {
  padding-left: 1em;
  text-align: left;
}

.img-comparison-figure-after figcaption {
  padding-right: 1em;
  text-align: right;
}
