{{/*
SPDX-FileCopyrightText: 2020-2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<footer id="kFooter" class="footer">
  {{ with $.Site.Params.showPatrons }}
  <section id="kPatrons" class="container kPatrons">
    <h3>{{ i18n "kde-patrons" }}</h3>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center">
      {{ partial "patrons" }}
    </div>
  </section>
  {{ end }}

  {{ with $.Site.Params.showDonationFooter }}
  <section id="kFooterIncome" class="container">
    <div id="kDonateForm">
      <div class="center">
        <h2 class="h5 mt-2 mb-3">{{ i18n "donate-to-kde" }} <a href="https://kde.org/community/donations/index.php#money" target="_blank">{{ i18n "why-donate" }}</a></h2>
        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post" onsubmit='return amount.value >= 2 || window.confirm({{ i18n "donation-too-small" }});'>
          {{ partialCached "donation_fields.html" . }}
          <input type="hidden" name="custom" value="{{ $.Site.Params.donationBox | default "//kde.org/index/donation_box" }}">
          <label class="visually-hidden" for="donateAmountField">{{ i18n "amount" }}</label><input type="text" name="amount" value="20.00" id="donateAmountField" data-kpxc-id="donateAmountField"> €
          <button type="submit" id="donateSubmit">{{ i18n "donate-via-paypal" }}</button>
        </form>
        <span class="h6"><a class="mt-3 d-inline-block" href="https://kde.org/community/donations" target="_blank">{{ i18n "other-donate" }}</a></span>
      </div>
    </div>
    <div id="kMetaStore">
      <div class="center">
        <h2 class="h5 mb-3 mt-2">{{ i18n "visit-kde-metastore" }}</h2>
        <p class="h6">{{ i18n "show-love-store" }}</p>
        <a href="https://kde.org/stuff/metastore" class="button">{{ i18n "click-store" }}</a>
      </div>
    </div>
  </section>
  {{ end }}

  {{ with $.Site.Params.showLinkFooter }}
  <section id="kLinks" class="container pb-4">
    <div class="row">
      <nav class="col-sm">
        <h3>{{ i18n "products" }}</h3>
        <a href="https://kde.org{{ "/plasma-desktop" | relLangURL }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "plasma" }}</a>
        <a href="https://apps.kde.org{{ $.Site.LanguagePrefix }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "kde-apps" }}</a>
        <a href="https://develop.kde.org/products/frameworks/">{{ i18n "kde-frameworks" }}</a>
        <a href="https://plasma-mobile.org{{ $.Site.LanguagePrefix }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "plasma-mobile" }}</a>
        <a href="https://neon.kde.org/">{{ i18n "kde-neon" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "develop" }}</h3>
        <a href="https://api.kde.org/">{{ i18n "api-doc" }}</a>
        <a href="https://doc.qt.io/" rel="noopener" target="_blank">{{ i18n "qt-doc" }}</a>
        <a href="https://kde.org/goals">{{ i18n "kde-goals" }}</a>
        <a href="https://invent.kde.org/">{{ i18n "kde-source-code" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "news-and-press" }}</h3>
        <a href="https://kde.org{{ $.Site.LanguagePrefix }}/announcements/" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "announcements" }}</a>
        <a href="https://blogs.kde.org/">{{ i18n "kde-news" }}</a>
        <a href="https://planet.kde.org/">{{ i18n "planet-kde" }}</a>
        <a href="https://kde.org/contact/">{{ i18n "press-contacts" }}</a>
        <a href="https://kde.org{{ "/stuff" | relLangURL }}">{{ i18n "stuff" }}</a>
        <a href="https://kde.org/thanks">{{ i18n "thanks" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "resources" }}</h3>
        <a href="https://community.kde.org/Main_Page">{{ i18n "community-wiki" }}</a>
        <a href="https://kde.org/support/">{{ i18n "support" }}</a>
        <a href="https://kde.org/download/">{{ i18n "download-kde" }}</a>
        <a href="https://kde.org/code-of-conduct/">{{ i18n "code-of-conduct" }}</a>
        <a href="{{ $.Site.Params.impressum | default "https://kde.org/privacypolicy" }}">{{ i18n "privacy-policy" }}</a>
        <a href="https://kde.org/privacypolicy-apps">{{ i18n "privacy-policy-apps" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "destinations" }}</h3>
        <a href="https://store.kde.org/">{{ i18n "kde-store" }}</a>
        <a href="https://ev.kde.org/">{{ i18n "kde-ev" }}</a>
        <a href="https://kde.org/community/whatiskde/kdefreeqtfoundation">{{ i18n "kde-free-qt" }}</a>
        <a href="https://timeline.kde.org{{ $.Site.LanguagePrefix }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "timeline" }}</a>
        <a href="https://manifesto.kde.org{{ $.Site.LanguagePrefix }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "manifesto" }}</a>
        <a href="https://kde.org/support/international/">{{ i18n "international-websites" }}</a>
      </nav>
    </div>
  </section>
  {{ end }}

  <div id="kSocial" class="container">
    {{ partialCached "social_links.html" . }}
  </div>

  <div id="kLegal" class="container">
    <p class="d-block d-xl-flex flex-wrap mb-0 py-3 h6">
      <small lang="en" class="maintenance">
        {{ i18n "maintenance-address" | markdownify }} {{ with .GitInfo }}
        {{ $hash := printf "<a href='https://invent.kde.org/websites/%s/-/commit/%s'>%s</a>" $.Site.Params.repoName .Hash .AbbreviatedHash }}
        {{ partial "fn/i18n_args" (slice "generating-commit" $hash) | markdownify }}
        {{ end }}
      </small>
      <small class="trademark">
        {{- $linkWithTitle := i18n "trademark-link-title" | printf "https://ev.kde.org/ \"%s\"" }}
        {{- $trademarkWithLink := partial "fn/i18n_args" (slice "trademark-with-link" $linkWithTitle) }}
        {{ $trademarkWithLink | markdownify }} | <a href="https://kde.org/community/whatiskde/impressum">{{ i18n "legal" }}</a>
      </small>
    </p>
  </div>
</footer>
