{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<ul class="navbar-nav col">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }} dropdown-item"
               href="{{ .URL | relLangURL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else if .Params.components }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar{{ .Name | anchorize }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ .Name }}
        </a>
        <div class="dropdown-menu component-selector" aria-labelledby="navbar{{ .Name | anchorize }}">
          <div class="nav-menu-apps">
            {{ range .Params.components }}
            <a href="{{ .url | relLangURL }}" style="background-image: url({{.background}})"{{ if .large }} class="component-large"{{ end }}>{{ .name }}</a>
            {{ end }}
          </div>
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | relLangURL }}">
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
