{{/*
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
{{ if .Site.Params.showRelatedPosts }}
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <h4 class="see-also">{{ i18n "blog.related" }}</h4>
  <ul>
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ partial "fn/i18n_title" . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
