{{ $svg := . }}
{{ $class := print $svg "-icon" }}
{{ $match := `<svg (.*?)>([\s\S]*)</svg>` }}

{{ $replaceWith := printf `<svg class="%s" ${1}>${2}</svg>` $class }}
{{ $fileContent := printf "/assets/images/%s.svg" $svg | readFile}}
{{ $modifiedSvg := replaceRE $match $replaceWith $fileContent }}
{{ return ($modifiedSvg | safeHTML) }}
