/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "functions";

.learn-more {
  display: inline-block;

  &:after {
    content: ">";
    font-family: "glyph";
    font-size: 80%;
    font-weight: bold !important;
    vertical-align: middle;
    padding-left: 0.2em;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.breeze-button {
    @include button();
}


@mixin aether-button($background, $text, $hover) {
  padding: .5rem 1rem;
  background-color: $background;
  align-items: center;
  justify-content: center;
  border-radius: .375rem;
  font-feature-settings: normal;
  line-height: 1.5rem;
  color: $text;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: $hover;
  }

  &:after {
    color: $text;
  }
}

.button {
  @include aether-button(#1481b8, #fff, #0a415c);
}

.button-secondary {
  @include aether-button(#9edbfa, #1271a1, #79b5d2);
}

.noblefir {
  @include aether-button(#48bb78, #fcfcfc, #68d391);
}

.button.expand {
  display: block;
  padding-right: 20px;
}

.button.expand:after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -.8ex;
}
