/**
 * SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: Ken Vermette <vermette@gmail.com>
 * SPDX-FileCopyrightText: 2025 Oliver Beard <olib141@outlook.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#kSocial {
  border-top: solid 1px #cfd5d5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  line-height: 50px;

  a {
    margin: .5rem 4px;
    width: 32px;
    height: 32px;
    user-select: none;
    background-size: 100% 100%;
    transition: opacity .2s;
  }

  a:hover {
    opacity: 0.6;
  }
}

.konqi {
  float: right;
  width: 250px;
  margin-top: -50px;
  margin-left: 40px;
}
