<section class="diagonal-box {{ with .Get "color" }}bg-{{ . }}{{ end }} pt-4 pb-5 {{ with .Get "class" }}{{ . }}{{ end }}">
  <div class="container content">
    {{ $alt := .Get "alt" }}
    {{ if .Get "logo" }}
      <div class="text-center"><img src="{{ .Get "logo" }}" alt="{{ $alt }}" class="img-fluid logo"></div>
      <div>
        {{ .Inner | $.Page.RenderString }}
      </div>
    {{ else }}
      <div class="row">
        <div class="{{ if not (.Get "nocol") }}col-12 col-md-7 col-lg-6 {{ end }}text-center mx-auto">
          {{ with .Get "title" }}
            <h2>{{ . }}</h2>
          {{ end }}
          {{ .Inner | $.Page.RenderString }}
          {{ with .Get "href" }}
            <a href="{{ . }}" class="learn-more mt-3 mb-3 d-inline-block">Learn more </a><br />
          {{ end }}
        </div>
        {{ $title := .Get "title" }}
        {{ if .Get "src" }}
	<div class="{{ if not (.Get "nocol") }}col-12 col-md-7 col-lg-6 {{ end }}align-self-center mt-4">
            {{ with .Get "href" }}
              <a href="{{ . }}">
            {{ end }}
                <img src="{{ .Get "src" }}" alt="{{ $title }}" class="laptop-picture">
            {{ if .Get "href" }}
              </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
