{{/*
SPDX-FileCopyrightText: 2024 Oliver Beard <olib141@outlook.com>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{- /* Captions default to "Before" and "After", and can be set to "" to hide them */ -}}

{{- $beforeCaption := i18n "img-comparison-before" -}}
{{- if isset .Params "before_caption" -}}
  {{- $beforeCaption = .Get "before_caption" -}}
{{- end -}}

{{- $afterCaption := i18n "img-comparison-after" -}}
{{- if isset .Params "after_caption" -}}
  {{- $afterCaption = .Get "after_caption" -}}
{{- end -}}

<figure>
  <picture class="{{ .Get "img_class" }}">
    <img-comparison-slider class="{{ .Get "img_class" }}">
      <figure slot="first" class="img-comparison-figure-before">
        {{- if ne $beforeCaption "" -}}
        <figcaption>{{ $beforeCaption }}</figcaption>
        {{- end -}}
        <img src="{{ .Get "before" }}" alt="{{ .Get "before_alt" }}" loading="lazy"/>
      </figure>
      <figure slot="second" class="img-comparison-figure-after">
        {{- if ne $afterCaption "" -}}
        <figcaption>{{ $afterCaption }}</figcaption>
        {{- end -}}
        <img src="{{ .Get "after" }}" alt="{{ .Get "after_alt" }}" loading="lazy"/>
      </figure>
      <svg slot="handle" class="img-comparison-figure-handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
        <path d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" fill="currentColor"/>
      </svg>
    </img-comparison-slider>
  </picture>
</figure>
